body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container h1{
  color: white;
 }
.header{
  background-image: url(../assets/images/banner-bk.jpg);
  height: 625px;
}
.header h1{
margin: 0;
padding-left: 145px;
padding-top: -100px; 
font-size: 90px;
font-family: Arial, Helvetica, sans-serif;
width: 689px;
}
.header p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 145px;
  font-size: 20px;
  font-weight: 5;
  line-height: 1.6;
  width: 900px;
}       
.container img{
  height: 80px;
  width: 80px;
  padding-left: 145px;
  padding-top: 50px;
}
.container button{
  background-color: rgb(0, 255, 173);
  height: 50px;
  width: 150px;
  border-radius: 50px;
  font-size: 17px;
  margin-left: 145px;
  border-style: none;
  border-color: black;
  color: rgb(0, 61, 51);
  font-weight: 750;
}
.container1 h3{
  color: white;
  margin-left: 1700px;
  font-size: 25px;
  font-weight: 1;
  width: 200px;
}
.container2 h1{
  width: 1200px;
  margin-top: 100px;
  font-size: 60px;
  margin-left: 525px;
  color: rgb(33, 31, 27);
}
.imagenes{
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  height: 210px;
}

.img1{
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}

.img1 h1{
  margin-left: 20px;
  margin-top: -30px;
  font-size: 25px;
  width: 200px;
}
.img1 p{
  font-size: 20px;
  width: 400px;
  margin-right: 100px;
}
.diagonal-radio{
  background: linear-gradient(
    -12deg,
    rgb(0,255,173) 50%,
    white 50%
  );
  color:#000;
  padding-top:40px;
  margin-top: -120px;
  padding: 200px;
  height: 900px;
}
.container3{
  margin-top: 250px;
}
.container3 h1{
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -5px;
}
.container3 p{
  font-size: 15px;
  width: 900px;
  margin-top: 20px;
}
.container3 button{
  background-color: rgb(25, 36, 64);
  height: 50px;
  width: 150px;
  border-radius: 50px;
  font-size: 17px;
  border-style: none;
  border-color: black;
  color: white;
  font-weight: 750;
}
.img2{
  margin-left: 950px;
  margin-top: -260px;
}
.container4{
  margin-top: 190px;
  margin-left: 850px;
  
}
.container4 h1{
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -5px;
}
.container4 p{
  font-size: 17px;
  width: 500px;
  margin-top: 20px;
  font-weight: lighter;
}
.container4 button{
  background-color: rgb(25, 36, 64);
  height: 50px;
  width: 150px;
  border-radius: 50px;
  font-size: 17px;
  border-style: none;
  border-color: black;
  color: white;
  font-weight: 750;
}
.img3{
  margin-left: -850px;
  margin-top: -225px;
}
.container5{
  margin-left: 100px;
  display: flex;
}
.titulo{
  margin-left: 550px;
  font-size: 50px;
}
.card{
  display: flex;
  margin-left: -800px;
  margin-top: 200px;
  height: 450px;
  width: 1000px;
}
.card1{
  background-color: white;
  margin-right: 100px;
}
.card1 h1{
  font-size: 30px;
}
.card1 span{
  font-size: 90px;
}
.card1 button{
  background-color: white;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  font-size: 17px;
  border-color: rgb(25, 36, 64);
  color: rgb(25, 36, 64);
  font-weight: 750;
  margin-top: 20px;
}
.card2 {
  background-color: rgb(25, 36, 64);
  color: white;
  width: 400px;
  
}
.card2 h1{
  margin-left: 120px;
  font-size: 30px;
}
.card2 p{
  margin-left: 120px;
}
.card2 span{
  font-size: 90px;
}
.card2 button{
  background-color: rgb(0,255,173);
  height: 50px;
  width: 150px;
  border-radius: 50px;
  font-size: 17px;
  color: rgb(25, 36, 64);
  font-weight: 750;
  margin-top: 20px;
  margin-left: 115px;
}
.card3 {
  background-color: white;
  margin-left: 100px;
}
.card3 h1 {
  font-size: 30px;
}
.card3 span {
  font-size: 90px;
}
.card3 button{
  background-color: white;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  font-size: 17px;
  border-color: rgb(25, 36, 64);
  color: rgb(25, 36, 64);
  font-weight: 750;
  margin-top: 20px;
}
.container6 {
  display: flex;
  justify-content: space-around;
  background-color: rgb(236, 239, 239);
  margin-top: 100px;
  height: 100px;
}
.container7 {
  background-image: url(../assets/images/contact-bk.jpg);
  height: 700px;
  color: white;
  margin-top: 0px;
}
.text{
  margin-left: 100px;
  padding-top: 200px;
}
.text h1{
  font-size: 50px;
}
.text p{
  font-size: 20px;
}
.imput{
  margin-left: 1100px;
  margin-top: -330px;
}
.name input{
  background-color: transparent;
  border: 1px solid rgb(0,255,173);
  border-radius: 5px;
  height: 30px;
  width: 300px;
  font-weight: lighter;
}
.name h3{
  color: rgb(0,255,173);
}
.email{
  margin-left: 350px;
  margin-top: -93px;
}
.email input{
  background-color: transparent;
  border: 1px solid rgb(0,255,173);
  border-radius: 5px;
  height: 30px;
  width: 300px;
  font-weight: lighter;
}
.email h3{
  color: rgb(0,255,173);
}
.mensaje textarea{
  background-color: transparent;
  border: 1px solid rgb(0,255,173);
  border-radius: 5px;
  height: 90px;
  width: 650px;
  font-weight: lighter;
}
.mensaje h3 {
  color: rgb(0,255,173);
}
.imput button{
  background-color: rgb(0,255,173);
  height: 50px;
  width: 650px;
  border-radius: 50px;
  font-size: 17px;
  color: rgb(25, 36, 64);
  font-weight: 750;
  margin-top: 20px;
  border: 1px solid rgb(0,255,173);
}
.footer{
  background-color: rgb(25, 36, 64);
  height: 120px;
  margin-top: -20px;
  display: flex;
}
.footer h3{
  padding-top: 50px;
  margin-left: 50px;
  color: white;
  font-weight: lighter;
  width: 1000px;
}
.footerimg {
  width: 1000px;
  height: 35px;
  margin-left: 1300px;
  margin-top: 70px;
}
.footerimg img{
  height: 25px;
  width: 25px;
}